<!DOCTYPE html>
<head>
    <html lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <section class="section__room_list">
    <div class="container">
      <header class="section__header mb-5">
        <h2 class="section__room_list__title mb-3">
          <span class="section__category mb-2" lang="en">ha-it</span>
        </h2>

      </header>
      <div class="cards row ">
       <% @room.each do |r| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card my-3">
                <a href="/hait/room_detail/<%=r.id%>" class="card-img__container d-flex justify-content-center align-items-center">
                  
                  <img src="<%=r.img_url.url%>" alt="room_img" class="my-4 px-2" style="width:240px; height:172px;">
                  
                    <!--srcset="assets/item-1@1x.jpg 1x, assets/item-1@2x.jpg 2x" -->
                </a>
                <!--interation-->
                <div class="card-block d-flex justify-content-between">
                  <h4 class="card-title mb-2 pl-4"><%= r.house.house_name %></h4>
                  <!--<p class=pr-2><input type="submit" class="fa fa-heart-o" aria-hidden="true"></p>-->
                </div>
                <p class="card-text pl-4">
                    월세 : <%=r.price%>원</br>
                    식사 : <%=r.breakfast%> <%=r.lunch%> <%=r.dinner%></br>
                    화장실 : <%=r.toilet%>명</br>
                 </p>
               <a href="/hait/room_detail/<%=r.id%>"  class="btn btn-primary bg-primary text-align-center d-block mx-4 mb-2">MORE</a>
          </div>
        </div>
        <%end%>
     </div>
  </section>
</body>    

