<!DOCTYPE html>
<head>
  <html lang="ko">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  
  <!--sliderbar를 위한 css-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <!--checkbox & radio를 위한 css  -->
  <link href="css/magic-check.css" rel="stylesheet">

  
</head>
<body>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
  <!--검색필터 버튼-->
  <button id="show_filter" class="btn btn-primary btn-lg btn-block btn-room_search"><i class="fa fa-filter " style="color: white;" aria-hidden="true"></i> 검색필터</button>
  <!--검색필터 버튼 누르면 보이는 부분-->
  <!--display 나중에 none으로 바꿔야함-->
  <div class="filter_ye" id="filter_area" style="display: none;">
    <form action="/hait/room_search" method="get">
      <div class="p-3">
        <div class="row">
          <!--월세-->
          <div class='col-lg-4 col-md-4 col-sm-6 col-xs-10'>
            <label class="form-control-label"><strong>월세</strong></label>
            <div class="row">
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                <select name='price_from' class="form-control mb-1">
                  <option value=0 selected>0원</option>
                  <option value=100000>10만원</option>
                  <option value=200000>20만원</option>
                  <option value=300000>30만원</option>
                  <option value=400000>40만원</option>
                  <option value=500000>50만원</option>
                </select>    
              </div>
              <p class='col-lg-4 col-md-4 col-sm-4 col-xs-4' style='margin-top: 0.5rem'>이상</p>
            </div>
            <div class="row mb-3">
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 justify-content-center'>
                <select name='price_to' class="form-control">
                  <option value=300000>30만원</option>
                  <option value=400000>40만원</option>
                  <option value=500000>50만원</option>
                  <option value=600000>60만원</option>
                  <option value=700000>70만원</option>
                  <option value=800000000 selected>80만원 이상</option>
                </select>    
              </div>
              <p class='col-lg-4 col-md-4 col-sm-4 col-xs-4' style='margin-top: 0.5rem'>미만</p>
            </div>
          </div>
          <!--층수-->
          <div class='col-lg-4 col-md-4 col-sm-6 col-xs-10'>
            <label class="form-control-label"><strong>층수</strong></label>
            <div class="row">
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                <select name='floor_from' class="form-control mb-1">
                  <option value=1 selected>1층</option>
                  <option value=2>2층</option>
                  <option value=3>3층</option>
                  <option value=4>4층</option>
                  <option value=5>5층</option>
                </select>    
              </div>
              <p class='col-lg-4 col-md-4 col-sm-4 col-xs-4 ' style='margin-top: 0.5rem'>이상</p>
            </div>
            <div class="row mb-3">
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                <select name='floor_to' class="form-control">
                  <option value=1>1층</option>
                  <option value=2>2층</option>
                  <option value=3>3층</option>
                  <option value=4>4층</option>
                  <option value=50 selected>5층 이상</option>
                </select>    
              </div>
              <p class='col-lg-4 col-md-4 col-sm-4 col-xs-4' style='margin-top: 0.5rem'>미만</p>
            </div>
          </div>
          <!--방역여부-->
          <div class='col-lg-4 col-md-4 col-sm-6 col-xs-10'>
            <label class="form-control-label"><strong>방역 여부</strong></label>
            <div class="row">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="option-input radio" type="radio" name="cesco" value=1 checked> 예
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="option-input radio" type="radio" name="cesco" value=0> 아니오
                </label>
              </div>
            </div>
          </div>
          <!--식사여부-->
          <div class='col-lg-4 col-md-4 col-sm-6 col-xs-10'>
            <label class="form-control-label"><strong>식사여부</strong></label>
            <div>
              <div class="form-check form-check-inline">
                <div class="row">
                  <div class='col-lg-4 col-md-6 col-sm-6 col-xs-6'>
                    <label><input type="checkbox" name="breakfast" class="option-input checkbox" value="아침">아침</label>
                  </div>
                  <div class='col-lg-4 col-md-6 col-sm-6 col-xs-6'>
                    <label><input type="checkbox" name="lunch" class="option-input checkbox" value="점심">점심</label>
                  </div>
                  <div class='col-lg-4 col-md-6 col-sm-6 col-xs-6'>
                    <label><input type="checkbox" name="dinner" class="option-input checkbox" value ="저녁">저녁</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--냉방기-->
          <div class='col-lg-4 col-md-4 col-sm-6 col-xs-10'>
            <label class="form-control-label"><strong>냉방기</strong></label>
            <div>
              <div class="form-check form-check-inline">
                <div class="row">
                  <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
                    <label>
                      <input type="radio" name="fan" class="option-input radio" value="선풍기" checked> 선풍기
                    </label>
                  </div>
                  <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
                    <label>
                      <input type="radio" name="fan" class="option-input radio" value="에어컨"> 에어컨
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--여성전용-->
          <div class='col-lg-4 col-md-4 col-sm-6 col-xs-10'>
            <label class="form-control-label"><strong>여성 전용</strong></label>
            <div class="row">
              <div class="form-check form-check-inline">
                <p class="form-check-label">
                  <input class="option-input radio" type="radio" name="woman_only" value=1 checked> 예
                </p>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="option-input radio" type="radio" name="woman_only" value=0> 아니오
                </label>
              </div>
            </div>
          </div>
          <!--화장실당사용인원수-->
          <div class='col-lg-4 col-md-4 col-sm-6 col-xs-10'>
            <label class="form-control-label mt-3"><strong>화장실당사용인원수</strong></label>
            <div class="row">
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                <select name='toilet_from' class="form-control mb-1">
                  <option value=1 selected>1명</option>
                  <option value=2>2명</option>
                  <option value=3>3명</option>
                  <option value=4>4명</option>
                  <option value=5>5명</option>
                  <option value=6>6명</option>
                  <option value=7>7명</option>
                  <option value=8>8명</option>
                  <option value=9>9명</option>
                  <option value=10>10명</option>
                </select>    
              </div>
              <p class='col-lg-4 col-md-4 col-sm-4 col-xs-4' style='margin-top: 0.5rem'>이상</p>
            </div>
            <div class="row mb-3">
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                <select name='toilet_to' class="form-control ">
                  <option value=1 selected>1명</option>
                  <option value=2>2명</option>
                  <option value=3>3명</option>
                  <option value=4>4명</option>
                  <option value=5>5명</option>
                  <option value=6>6명</option>
                  <option value=7>7명</option>
                  <option value=8>8명</option>
                  <option value=9>9명</option>
                  <option value= 100 selected>10명 이상</option>
                </select>    
              </div>
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4' style='margin-top: 0.5rem'>미만</div>
            </div>
          </div>
          <!--세탁기사용인원수-->
          <div class='col-lg-4 col-md-4 col-sm-6 col-xs-10'>
            <label class="form-control-label mt-3"><strong>세탁기당사용인원수</strong></label>
            <div class="row">
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                <select name='washing_from' class="form-control mb-1">
                  <option value=1 selected>1명</option>
                  <option value=2>2명</option>
                  <option value=3>3명</option>
                  <option value=4>4명</option>
                  <option value=5>5명</option>
                  <option value=6>6명</option>
                  <option value=7>7명</option>
                  <option value=8>8명</option>
                  <option value=9>9명</option>
                  <option value=10>10명</option>
                </select>    
              </div>
              <p class='col-lg-4 col-md-4 col-sm-4 col-xs-4' style='margin-top: 0.5rem'>이상</p>
            </div>
            <div class="row mb-3">
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                <select name='washing_to' class="form-control">
                  <option value=1 selected>1명</option>
                  <option value=2>2명</option>
                  <option value=3>3명</option>
                  <option value=4>4명</option>
                  <option value=5>5명</option>
                  <option value=6>6명</option>
                  <option value=7>7명</option>
                  <option value=8>8명</option>
                  <option value=9>9명</option>
                  <option value=100 selected>10명 이상</option>
                </select>    
              </div>
              <p class='col-lg-4 col-md-4 col-sm-4 col-xs-4' style='margin-top: 0.5rem'>미만</p>
          </div>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-6 col-xs-10'>
          <img src="/images/mainlogo.png" alt ="logo" style="height: 75%;" ></img>
        </div>
      </div>
      <div class="row justify-content-center">
          <button type="submit" class="btn a_btn_primary btn-block col-lg-3 col-md-3 col-sm-6 col-xs-8 mb-3">적용</button>
      </div>
    </form>
  </div>
</div>
  <div id="slider-range"></div>
  <!--방 목록 리스팅-->
  <% if @search_room%>
  <% @search_room.each do |r| %>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card my-3">
          <div class="d-flex">
            <a href="/hait/room_detail/<%=r.id%>" class="card-img__container d-inline justify-content-right align-items-center">
              <img src="<%= r.img_url.url %>" alt="room_img" class="pl-3 pt-3"style="width:240px; height:172px;">
            </a>
            <div class="px-4 py-3">
              <p style="font-size: 1.5rem; font-weight: 500; color: #ff5069;"><%=r.house.house_name%></p>
              <p><%= r.room_number%>호</p>
              <p style="font-size: 1rem; font-weight: 400; color: #ff5069;"><%=r.price%>원</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <%end%>
  <a href='/hait/room_list' class="btn btn-primary btn-lg btn-block btn-room_search">MORE</a>
    </div>
  </div>
  <!--sliderbar를 위한 script-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#price-range" ).slider({
      range: true,
      min: 0,
      max: 200,
      values: [ 75, 200 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) + "만 원" +
        " - " + $( "#slider-range" ).slider( "values", 1 ) + "만 원");
  } );
  //   $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
  //     " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  // } );
  </script>

  <!--검색필터 누르면 창 내려옴-->
  <script>
    $( "#show_filter" ).click(function() {
      $( "#filter_area" ).slideToggle( "slow" );
    });
  </script>
  
</body>